.formopt{
    box-sizing: border-box;
    margin: 24px 25px;
}
@media(max-width: 500px)
{
    .allopt{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 6px;
        font-family: none;
    font-size: 23px;
    color: black;

    }
}

.allopt{
    margin-top: 10px;
    margin-left: 15px;
}

.NTi{
    box-sizing: border-box;
    margin: 24px 25px;
}

.buttonpreview{
    box-sizing: border-box;
    margin: 24px 25px;
}

.nextbtn{
    box-sizing: border-box;
    margin: 24px 25px;
}
.title{
    box-sizing: border-box;
    margin: 24px 25px;
}

.previewBTN{
    box-sizing: border-box;
    margin: 24px 25px;

}

.previews{
    box-sizing: border-box;
    margin: 24px 25px;
}